<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			<h3 class="widget-title">Archives</h3>
<ul>
	<li><a href="{{ site.url }}/2015/06/">June 2015</a></li>
	<li><a href="{{ site.url }}/2015/05/">May 2015</a></li>
</ul>
<h3 class="widget-title">Categories</h3>
<ul>
	<li class="cat-item cat-item-8"><a href="{{ site.url }}/category/applications/">Applications</a></li>
	<li class="cat-item cat-item-7"><a href="{{ site.url }}/category/career/">Career</a></li>
	<li class="cat-item cat-item-54"><a href="{{ site.url }}/category/internet/">Internet</a></li>
	<li class="cat-item cat-item-6"><a href="{{ site.url }}/category/social/">Social</a></li>
</ul>
<h3 class="widget-title">Recent Posts</h3>
<ul>
	<li><a href="{{ site.url }}/skype-on-web-browsers/">Skype on Web browsers</a></li>
	<li><a href="{{ site.url }}/project-soli-in-reality/">Project Soli in reality</a></li>
	<li><a href="{{ site.url }}/android-m-6-0/">Android M 6.0 preview arrived</a></li>
	<li><a href="{{ site.url }}/telanganas-wi-fi-got-extended-to-secbad/">Telangana’s Wi-Fi got extended to Sec’bad</a></li>
	<li><a href="{{ site.url }}/android-runtime-environment/">Android Runtime environment</a></li>
</ul>

		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>